<div class="row" *ngIf="topic$ | async as topic">
  <div class="col-4">
    <div
      class="row"
      (click)="setActiveEvent(quizEvent)"
      *ngFor="let quizEvent of quizEvents"
    >
      <div class="col-4">{{ quizEvent.event.title }}</div>
      <div class="col-4">{{ quizEvent.order }}</div>
      <div class="col-2">{{ quizEvent.ordered ? "true" : "false" }}</div>
      <div class="col-2">{{ quizEvent.located ? "true" : "false" }}</div>
    </div>
  </div>
  <holistory-quiz-map
    class="col-8 map-container"
    (gridClicked)="checkAnswer($event)"
  ></holistory-quiz-map>
</div>
